



<h1> Welcome {{#if user}} {{user.username}}{{else}}GUEST{{/if}}</h1>




{{!-- 
    this is where i am going to send data to the backend  --}}

<form class="test" action="/auth/dashboard" method="post">
  <h3>New Blog Post</h3>
  <input class="blog-title" name="title" type="title" placeholder="Enter the title of your blog post">
  <input class="blog-text" name="textArea" type="textarea" placeholder="what are you bloggin abou?">
  <button>Submit</button>

</form>