
<form class="test" action="/auth/dashboard" method="post">
  <h3>New Blog Post</h3>
  <input class="blog-title" name="title" type="title" placeholder="Enter the title of your blog post">
  <input class="blog-text" name="textarea" type="textarea" placeholder="what are you bloggin abou?">
  <button>Submit</button>

</form>